Host hostsrv_old
     HostName 192.241.165.181
     User root

Host hostsrv
     HostName 104.131.110.105
     User root

Host gdcvib
     HostName 46.137.242.107
     IdentityFile ~/.ssh/asia.pem
     User bitnami

Host italyabroad
     HostName 89.145.121.178
     User italy

Host dev2-01
     HostName rndgfg201.copart.com
     User nxkumar

Host dev2-02
     HostName rndgfg202.copart.com
     User nxkumar

Host dev2-mw
     HostName rndgmw201.copart.com
     User nxkumar

Host qa2-01
     HostName rnqgfg201.copart.com
     User nxkumar

Host qa2-02
     HostName rnqgfg202.copart.com
     User nxkumar

Host qa2-mw
     HostName rnqgmw201.copart.com
     User nxkumar
