Host hostsrv_old
     HostName 192.241.165.181
     User root

Host hostsrv
     HostName 104.131.110.105
     User root

Host ssh-jmp.stg-us-west-2.enjoytechnology.com
  User neeraj
  Port 1022

Host ssh-jmp.stg-eu-west-1.enjoytechnology.com
  User neeraj
  Port 1022

Host *.stg.enjoytechnology.com *.stg-us-west-2.enjoytechnology.com !ssh-jmp.stg-us-west-2.enjoytechnology.com
  User neeraj
  ProxyCommand ssh -W %h:%p ssh-jmp.stg-us-west-2.enjoytechnology.com
  IdentityFile ~/.ssh/id_rsa

Host *.stg-eu-west-1.enjoytechnology.com !ssh-jmp.stg-eu-west-1.enjoytechnology.com
  User neeraj
  ProxyCommand ssh -W %h:%p ssh-jmp.stg-eu-west-1.enjoytechnology.com

Host ssh-jmp.prd-us-west-2.enjoytechnology.com
  User neeraj
  Port 1022

Host *.prd-us-west-2.enjoytechnology.com wst* !ssh-jmp.prd-us-west-2.enjoytechnology.com
  User neeraj
  ProxyCommand ssh -W %h:%p ssh-jmp.prd-us-west-2.enjoytechnology.com

Host ssh-jmp.prd-eu-west-1.enjoytechnology.com
  User neeraj
  Port 1022

Host *.prd-eu-west-1.enjoytechnology.com ire* !ssh-jmp.prd-eu-west-1.enjoytechnology.com
  User neeraj
  ProxyCommand ssh -W %h:%p ssh-jmp.prd-eu-west-1.enjoytechnology.com
